exportPattern("^[[:alpha:]]+")
import(ggplot2)
import(foreach)
import(ape)
import(doParallel)
import(parallel)
importFrom(sp,Polygon)
importFrom(sp,Polygons)
importFrom(mapproj,mapproject)
importFrom(boot,inv.logit)
